/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles here */





.changecolor{

  animation: ease 0s infinite forwards;

}


@keyframes changecolor {
  0% {
		color: #fff;
	}

  50% {
    color: red;
  }

	100% {
		color: #fff;
	}
}

